html {
    /* font-size: 0.26667vw; 1rem = 1rem */
    transition: all 0.5s ease;
}

input[type="radio"] {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
    /* 移动端去除点击高亮 */
}



body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PingFang SC';
    background-color: var(--JF_bg_color_secondary);
}

.main {
    position: relative;
    width: 375rem;
    min-height: calc(812rem - 44rem - 34rem);
}

.main>.bar {
    position: fixed;
    top: 0;
    height: 48rem;
    width: 100%;
    display: flex;
    align-items: center;

    .back {
        height: 24rem;
        width: 24rem;
        position: absolute;
        left: 12rem;
    }
}

.content {
    position: absolute;
    width: 335rem;
    height: 414rem;
    top: calc(285rem - 44rem);
    left: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--JF_font_color_secondary);
    font-size: 14rem;

    .avatar {
        position: absolute;
        top: -128px;
        left: 5px;
        z-index: 2;
    }

    .line {
        position: absolute;
        top: -125px;
        left: -16px;
    }

    .man {
        position: absolute;
        top: -208px;
        right: 0;
        z-index: 0;
    }

    .vip {
        height: 134rem;
        background-color: var(--JF_bg_color_tertiary);
        border-radius: var(--JF_radius_16);
        width: 100%;
        padding: 16rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 1;
        color: var(--JF_font_color_secondary);

        .vip-bar {
            height: 48rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left {
                display: flex;
                align-items: center;
                color: var(--JF_font_color_secondary);
                font-weight: 500;
                font-size: 14rem;
                line-height: 20rem;

                img {
                    height: 24rem;
                    width: 24rem;
                }
            }

            .right {
                display: flex;
                align-items: center;
                color: var(--JF_font_color_fourth);
                font-size: 12rem;
                line-height: 18rem;

                img {
                    height: 16rem;
                    width: 16rem;
                }
            }
        }

        .inner-content {
            width: 239rem;
            height: 48rem;
            display: flex;
            justify-content: space-between;

            .count {
                font-size: 20rem;
                color: var(--JF_font_color_secondary);
                line-height: 28rem;
                font-weight: 450;
            }

            span {
                font-size: 12rem;
                line-height: 18rem;
                font-weight: 400;
                font-style: regular;
                color: var(--JF_font_color_fourth);
            }
        }
    }

    .item {
        height: 60rem;
        width: 100%;
        border-radius: var(--JF_radius_16);
        background-color: var(--JF_bg_color_tertiary);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16rem;

        .text {
            display: flex;
            color: var(--JF_font_color_secondary);

            div {
                display: flex;
                align-items: center;
            }
        }

        img {
            height: 16rem;
            width: 16rem;
        }
    }

    .jump {
        fill: var(--niu_font_color_fifth);
    }
}

.tail {
    position: fixed;
    height: 40rem;
    width: 375rem;
    bottom: 0;
    border-top: var(--JF_Line_color_secondary) 1rem solid;
    color: var(--JF_font_color_secondary);

    display: flex;
    justify-content: space-around;
    gap: 20rem;
    z-index: 999;
    background-color: var(--JF_bg_color_secondary);
    .tabbar-item {
        font-weight: 500;
        width: 26rem;
        height: 34rem;
        font-size: 13rem;
        line-height: 20rem;
        color: var(--JF_font_color_primary);

        position: relative;
        top: -1rem;
        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        span {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            height: 100%;
        }
    }

    .tabbar-item:has(input:checked) {
        border-top: 2rem solid black;
    }
}

.selected-tab {
    border-top: 2rem solid black;
    position: relative;
    top: -1rem;
}

.text {
    font-weight: 500;
    line-height: 20rem;
}

.text-center {
    text-align: center;
}

.vector {
    position: absolute;
    height: 32rem;
    width: 0.5rem;
    background-color: var(--JF_font_color_fourth);
    left: 50%;
    top: 50%;
}

.nick-name {
    font-weight: 500;
    font-size: 18rem;
    line-height: 26rem;
    color: var(--JF_font_color_primary);
    position: relative;
    left: 68rem;
    top: -40.5rem;
}